* {
   border: 1px solid red !important;
}
.container {
	width: 500px;
	margin: 0 auto;
	position: relative;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	vertical-align: middle;
}

.background {
	background-color: ;
}

.cell {
	border: 1px solid orange;
	display: inline-block;
}

.selected {
	background-color: 
}

.square {
	border: 1px dashed black;
	border-radius: ;
	width: 100px;
	height: 100px;
	display: inline-block;
	font-family: 'Quicksand', sans-serif;
	font-size: 105px;
	text-align: center;
	padding: 25px;
	vertical-align: middle;

}